.containerx{
	width: 100%;
	padding: 150px 10%;
}
.containerx{
	padding-right: calc(10% - 30px);
}
.rowx{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.titlex{
	font-family: helvetica;
	color: #ff0000;
	padding: 0px 0px 20px 30px;
}
.contentsx{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.box1 {
	background-image: linear-gradient(163deg, #ff0000 0%, #ff0000 100%);
	border-radius: 20px;
	transition: all .3s;

}
.boxx{
	position: relative;
	padding: 40px;
	cursor: pointer;

	margin-bottom: 20px;

	background-color:  #1a1a1a; 
    border-radius:;
    transition: all .2s;
}
.boxx:hover{
	transform: scale(0.98);
    border-radius: 20px;
}
.box1:hover{
	box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.9);
}
.boxx:before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #ff0000;
	border: 2px solid white;
}
.boxx h4{
	position: relative;
	color: #ff0000;
}
.boxx h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.boxx p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}
@media(max-width: 768px){
   .containerx{
	width: 100%;
	padding: 50px 10%;
}
 
	main.rowx{
		grid-template-columns: 1fr;
	}
	.rowx .colx:nth-child(2){
		margin-top: 30px;
	}
	
	.boxx p{
	line-height: 1.2;
	color: #666;
	font-size: 12px;
}
} 
 