.row {
 width: 100%;
 max-width: 100%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-around;
 padding: 50px 0px;
  
}




.featured-box {
    text-align: center;
    position: relative;
    border-right: 1px solid #D5D8DC;
    padding-right: 100px;
    height: 100px;
}

.text-12 {
    font-size: 50px; 
    position: relative;
  
}



 .featured-box h4 {
        color: red; /* Changing color to red */
    }
    .featured-box p {
        font-size: 20px; /* Increasing text size */
    }

  
.featured-box2 {
 text-align: center;
    position: relative;
 
}

 .featured-box2 h4 {
        color: red; /* Changing color to red */
    }
    
    .featured-box2 p {
        font-size: 20px; /* Increasing text size */
    }
    
    



@media screen and (max-width: 1200px) {
    .row {
        flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    }

    .featured-box {
        padding-right: 20px; /* Adjust padding for smaller screens */
        margin-bottom: 20px; /* Add margin to separate boxes on smaller screens */
    }

    .text-12 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .featured-box p {
        font-size: 16px; /* Decrease text size for smaller screens */
    }

    .featured-box2 {
        margin-bottom: 20px; /* Add margin to separate boxes on smaller screens */
    }

    .featured-box2 p {
        font-size: 16px; /* Decrease text size for smaller screens */
    }
}
