.md2 {
   display:flex;
   justify-content: center;
   align-items: center;
    margin: 20px; /* Add margin as needed */
}

.md3 {
    font-size: 18px; /* Adjust the font size as needed */
    margin: 5px 50px 5px 5px; /* Add margin: top right bottom left */
    cursor: pointer; /* Change cursor to pointer */
    font-weight: 800; /* Increase font weight to 800 */
    position: relative; 
}

.md3::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -8px; 
    transition: 0.5s; 
}


.md3.m-m::after {
    width: 100%;
}



.porp2 {
 display: none;
}


.porp2.tt-t1{
 Display: block;
}


.porp2 {
 max-width: 1920px;
 width: 90%;
 margin: auto;
 padding: 10px 0px;
}


.porp3 {
 display: flex;
 gap: 30px;
}


.porp4{
 display: flex;
 flex-direction: column;
 gap: 30px
 
}


.porp5 img{
 width: 100%;
 height: 100%;
 border-radius: 9px;
 object-fit: cover;
 transition: transform 0.5s;
}

.porp6000 {
 width: 100%;
 height: 0; 
 background: linear-gradient(rgba(0,0,0,0.6), #ff0000);
 border-radius: 10px;
 position: absolute;
 left: 0;
 bottom: 0;
 overflow: hidden;
 display: flex;
 align-item: center;
 justify-content: center;
 flex-direction: column;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 text-align: center;
 font-size: 14px;
 transition: height 0.5s;
}


.porp5 {
 position: relative; 
 width: 100%; 
 border-radius: 10px;
 left: 0;
 bottom: 0;
 overflow: hidden;
 display: flex;
 align-item: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 
    
}


.porp6000 h3{
 font-size: 500;
 margin-bottom: 20px;
}


.porp6000 a {
    margin: 20px auto; 
    display: block; 
    font-size: 18px; 
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}


.porp6000 a svg {
    
    width: 40px;
    height: 60px;
    
    
}


.porp5:hover img{
 transform: scale(1.1)
}


.porp5:hover .porp6000{
 height: 100%;
}





                  /* popup */

.popup1,
.popupa1,
.popupaa1,
.popupab1,
.popupac1,
.popupad1,
.popupae1,
.popupaf1,
.popupag1,
.popupah1,
.popupai1,
.popupaj1,
.popupak1,
.popupal1,
.popupam1,
.popupan1,
.popupao1,
.popupap1,
.popupaq1,
.popupar1,
.popupas1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.popup1.open,
.popupa1.open,
.popupaa1.open,
.popupab1.open,
.popupac1.open,
.popupad1.open,
.popupae1.open,
.popupaf1.open,
.popupag1.open,
.popupah1.open,
.popupai1.open,
.popupaj1.open,
.popupak1.open,
.popupal1.open,
.popupam1.open,
.popupan1.open,
.popupao1.open,
.popupap1.open,
.popupaq1.open,
.popupar1.open,
.popupas1.open {
  opacity: 1;
  visibility: visible;
}

.popup2,
.popupa2,
.popupaa2,
.popupab2,
.popupac2,
.popupad2,
.popupae2,
.popupaf2,
.popupag2,
.popupah2,
.popupai2,
.popupaj2,
.popupak2,
.popupal2,
.popupam2,
.popupan2,
.popupao2,
.popupap2,
.popupaq2,
.popupar2,
.popupas2 {
  background-color: #3A3B3C;
  
  border-radius: 8px;
  
  position: relative;
  
  max-width: 100%; 
  width: 90%; /* width: 1200px; padding: 40px; */
  padding: 20px;
}

.popup3,
.popupa3,
.popupaa3,
.popupab3,
.popupac3,
.popupad3,
.popupae3,
.popupaf3,
.popupag3,
.popupah3,
.popupai3,
.popupaj3,
.popupak3,
.popupal3,
.popupam3,
.popupan3,
.popupao3,
.popupap3,
.popupaq3,
.popupar3,
.popupas3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.popup4,
.popupa4,
.popupaa4,
.popupab4,
.popupac4,
.popupad4,
.popupae4,
.popupaf4,
.popupag4,
.popupah4,
.popupai4,
.popupaj4,
.popupak4,
.popupal4,
.popupam4,
.popupan4,
.popupao4,
.popupap4,
.popupaq4,
.popupar4,
.popupas4 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: #ff0000;
  cursor: pointer;
}

.popup4 svg,
.popupa4 svg,
.popupaa4 svg,
.popupab4 svg,
.popupac4 svg,
.popupad4 svg,
.popupae4 svg,
.popupaf4 svg,
.popupag4 svg,
.popupah4 svg,
.popupai4 svg,
.popupaj4 svg,
.popupak4 svg,
.popupal4 svg,
.popupam4 svg,
.popupan4 svg,
.popupao4 svg,
.popupap4 svg,
.popupaq4 svg,
.popupar4 svg,
.popupas4 svg {
  width: 20px;
  height: 60px;
}


.popup5,
.popupa5,
.popupaa5,
.popupab5,
.popupac5,
.popupad5,
.popupae5,
.popupaf5,
.popupag5,
.popupah5,
.popupai5,
.popupaj5,
.popupak5,
.popupal5,
.popupam5,
.popupan5,
.popupao5,
.popupap5,
.popupaq5,
.popupar5,
.popupas5 {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 700px; /* Set a fixed height for the container */
} 

.popup6,
.popupa6,
.popupaa6,
.popupab6,
.popupac6,
.popupad6,
.popupae6,
.popupaf6,
.popupag6,
.popupah6,
.popupai6,
.popupaj6,
.popupak6,
.popupal6,
.popupam6,
.popupan6,
.popupao6,
.popupap6,
.popupaq6,
.popupar6,
.popupas6 {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  width: auto; /* Allow the image to adjust its auto */
  height: auto; /* Allow the image to adjust its height */
}


.popup8,
.popupa8,
.popupaa8,
.popupab8,
.popupac8,
.popupad8,
.popupae8,
.popupaf8,
.popupag8,
.popupah8,
.popupai8,
.popupaj8,
.popupak8,
.popupal8,
.popupam8,
.popupan8,
.popupao8,
.popupap8,
.popupaq8,
.popupar8,
.popupas8,
.popup11,
.popupa11,
.popupaa11,
.popupab11,
.popupac11,
.popupad11,
.popupae11,
.popupaf11,
.popupag11,
.popupah11,
.popupai11,
.popupaj11,
.popupak11,
.popupal11,
.popupam11,
.popupan11,
.popupao11,
.popupap11,
.popupaq11,
.popupar11,
.popupas11 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.popup10,
.popupa10,
.popupaa10,
.popupab10,
.popupac10,
.popupad10,
.popupae10,
.popupaf10,
.popupag10,
.popupah10,
.popupai10,
.popupaj10,
.popupak10,
.popupal10,
.popupam10,
.popupan10,
.popupao10,
.popupap10,
.popupaq10,
.popupar10,
.popupas10 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.popup12 li,
.popupa12 li,
.popupaa12 li,
.popupab12 li,
.popupac12 li,
.popupad12 li,
.popupae12 li,
.popupaf12 li,
.popupag12 li,
.popupah12 li,
.popupai12 li,
.popupaj12 li,
.popupak12 li,
.popupal12 li,
.popupam12 li,
.popupan12 li,
.popupao12 li,
.popupap12 li,
.popupaq12 li,
.popupar12 li,
.popupas12 li {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  list-style: none;
}

.popup12 li:last-child,
.popupa12 li:last-child,
.popupaa12 li:last-child,
.popupab12 li:last-child,
.popupac12 li:last-child,
.popupad12 li:last-child,
.popupae12 li:last-child,
.popupaf12 li:last-child,
.popupag12 li:last-child,
.popupah12 li:last-child,
.popupai12 li:last-child,
.popupaj12 li:last-child,
.popupak12 li:last-child,
.popupal12 li:last-child,
.popupam12 li:last-child,
.popupan12 li:last-child,
.popupao12 li:last-child,
.popupap12 li:last-child,
.popupaq12 li:last-child,
.popupar12 li:last-child,
.popupas12 li:last-child {
  margin-bottom: 0;
}

.popup12 li span,
.popupa12 li span,
.popupaa12 li span,
.popupab12 li span,
.popupac12 li span,
.popupad12 li span,
.popupae12 li span,
.popupaf12 li span,
.popupag12 li span,
.popupah12 li span,
.popupai12 li span,
.popupaj12 li span,
.popupak12 li span,
.popupal12 li span,
.popupam12 li span,
.popupan12 li span,
.popupao12 li span,
.popupap12 li span,
.popupaq12 li span,
.popupar12 li span,
.popupas12 li span {
  font-weight: normal;
}

.popup12 a,
.popupa12 a,
.popupaa12 a,
.popupab12 a,
.popupac12 a,
.popupad12 a,
.popupae12 a,
.popupaf12 a,
.popupag12 a,
.popupah12 a,
.popupai12 a,
.popupaj12 a,
.popupak12 a,
.popupal12 a,
.popupam12 a,
.popupan12 a,
.popupao12 a,
.popupap12 a,
.popupaq12 a,
.popupar12 a,
.popupas12 a {
  color: #ff0000;
  text-decoration: none;
  text-transform: lowercase;
}


                    /* popup ui/ux */










.popupuia1,
.popupuib1,
.popupuic1,
.popupuid1,
.popupuie1,
.popupuif1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.popupuia1.open,
.popupuib1.open,
.popupuic1.open,
.popupuid1.open,
.popupuie1.open,
.popupuif1.open {
  opacity: 1;
  visibility: visible;
}

.popupuia2,
.popupuib2,
.popupuic2,
.popupuid2,
.popupuie2,
.popupuif2 {
  background-color: #3A3B3C;
  width: 1200px;
  border-radius: 8px;
  padding: 40px;
  position: relative;
}

.popupuia3,
.popupuib3,
.popupuic3,
.popupuid3,
.popupuie3,
.popupuif3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.popupuia4,
.popupuib4,
.popupuic4,
.popupuid4,
.popupuie4,
.popupuif4 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: #ff0000;
  cursor: pointer;
}

.popupuia4 svg,
.popupuib4 svg,
.popupuic4 svg,
.popupuid4 svg,
.popupuie4 svg,
.popupuif4 svg {
  width: 20px;
  height: 60px;
}

.popupuia8,
.popupuia11,
.popupuib8,
.popupuib11,
.popupuic8,
.popupuic11,
.popupuid8,
.popupuid11,
.popupuie8,
.popupuie11,
.popupuif8,
.popupuif11 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.popupuia10,
.popupuib10,
.popupuic10,
.popupuid10,
.popupuie10,
.popupuif10 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.popupuia12 li,
.popupuib12 li,
.popupuic12 li,
.popupuid12 li,
.popupuie12 li,
.popupuif12 li {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  list-style: none;
}

.popupuia12 li:last-child,
.popupuib12 li:last-child,
.popupuic12 li:last-child,
.popupuid12 li:last-child,
.popupuie12 li:last-child,
.popupuif12 li:last-child {
  margin-bottom: 0;
}

.popupuia12 li span,
.popupuib12 li span,
.popupuic12 li span,
.popupuid12 li span,
.popupuie12 li span,
.popupuif12 li span {
  font-weight: normal;
}

.popupuia12 a,
.popupuib12 a,
.popupuic12 a,
.popupuid12 a,
.popupuie12 a,
.popupuif12 a {
  color: #ff0000;
  text-decoration: none;
  text-transform: lowercase;
}



                  /* popup graphics design */


 

.popupgda1,
.popupgdb1,
.popupgdc1,
.popupgdd1,
.popupgde1,
.popupgdf1, 
.popupgdg1,
.popupgdh1, 
.popupgdi1,
.popupgdj1,
.popupgdk1,
.popupgdl1, 
.popupgdm1,
.popupgdn1, 
.popupgdo1,
.popupgdp1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.popupgda1.open,
.popupgdb1.open,
.popupgdc1.open,
.popupgdd1.open,
.popupgde1.open,
.popupgdf1.open, 
.popupgdg1.open,
.popupgdh1.open, 
.popupgdi1.open,
.popupgdj1.open,
.popupgdk1.open,
.popupgdl1.open, 
.popupgdm1.open,
.popupgdn1.open, 
.popupgdo1.open,
.popupgdp1.open {
  opacity: 1;
  visibility: visible;
}

.popupgda2,
.popupgdb2,
.popupgdc2,
.popupgdd2,
.popupgde2,
.popupgdf2, 
.popupgdg2,
.popupgdh2, 
.popupgdi2,
.popupgdj2,
.popupgdk2,
.popupgdl2, 
.popupgdm2,
.popupgdn2, 
.popupgdo2,
.popupgdp2 {
  background-color: #3A3B3C; 
  width: 1200px;
  border-radius: 8px;
  padding: 40px;
  position: relative;
}

.popupgda3,
.popupgdb3,
.popupgdc3,
.popupgdd3,
.popupgde3,
.popupgdf3, 
.popupgdg3,
.popupgdh3, 
.popupgdi3,
.popupgdj3,
.popupgdk3,
.popupgdl3, 
.popupgdm3,
.popupgdn3, 
.popupgdo3,
.popupgdp3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.popupgda4,
.popupgdb4,
.popupgdc4,
.popupgdd4,
.popupgde4,
.popupgdf4, 
.popupgdg4,
.popupgdh4, 
.popupgdi4,
.popupgdj4,
.popupgdk4,
.popupgdl4, 
.popupgdm4,
.popupgdn4, 
.popupgdo4,
.popupgdp4 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: #ff0000;
  cursor: pointer;
}

.popupgda4 svg,
.popupgdb4 svg,
.popupgdc4 svg,
.popupgdd4 svg,
.popupgde4 svg,
.popupgdf4 svg, 
.popupgdg4 svg,
.popupgdh4 svg, 
.popupgdi4 svg,
.popupgdj4 svg,
.popupgdk4 svg,
.popupgdl4 svg, 
.popupgdm4 svg,
.popupgdn4 svg, 
.popupgdo4 svg,
.popupgdp4 svg {
  width: 20px;
  height: 60px;
}

.popupgda8,
.popupgdb8,
.popupgdc8,
.popupgdd8,
.popupgde8,
.popupgdf8, 
.popupgdg8,
.popupgdh8, 
.popupgdi8,
.popupgdj8,
.popupgdk8,
.popupgdl8, 
.popupgdm8,
.popupgdn8, 
.popupgdo8,
.popupgdp8,
.popupgda11,
.popupgdb11,
.popupgdc11,
.popupgdd11,
.popupgde11,
.popupgdf11, 
.popupgdg11,
.popupgdh11, 
.popupgdi11,
.popupgdj11,
.popupgdk11,
.popupgdl11, 
.popupgdm11,
.popupgdn11, 
.popupgdo11,
.popupgdp11 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.popupgda10,
.popupgdb10,
.popupgdc10,
.popupgdd10,
.popupgde10,
.popupgdf10, 
.popupgdg10,
.popupgdh10, 
.popupgdi10,
.popupgdj10,
.popupgdk10,
.popupgdl10, 
.popupgdm10,
.popupgdn10, 
.popupgdo10,
.popupgdp10 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.popupgda12 li,
.popupgdb12 li,
.popupgdc12 li,
.popupgdd12 li,
.popupgde12 li,
.popupgdf12 li, 
.popupgdg12 li,
.popupgdh12 li, 
.popupgdi12 li,
.popupgdj12 li,
.popupgdk12 li,
.popupgdl12 li, 
.popupgdm12 li,
.popupgdn12 li, 
.popupgdo12 li,
.popupgdp12 li {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  list-style: none;
}

.popupgda12 li:last-child,
.popupgdb12 li:last-child,
.popupgdc12 li:last-child,
.popupgdd12 li:last-child,
.popupgde12 li:last-child,
.popupgdf12 li:last-child, 
.popupgdg12 li:last-child,
.popupgdh12 li:last-child, 
.popupgdi12 li:last-child,
.popupgdj12 li:last-child,
.popupgdk12 li:last-child,
.popupgdl12 li:last-child, 
.popupgdm12 li:last-child,
.popupgdn12 li:last-child, 
.popupgdo12 li:last-child,
.popupgdp12 li:last-child {
  margin-bottom: 0;
}

.popupgda12 li span,
.popupgdb12 li span,
.popupgdc12 li span,
.popupgdd12 li span,
.popupgde12 li span,
.popupgdf12 li span, 
.popupgdg12 li span,
.popupgdh12 li span, 
.popupgdi12 li span,
.popupgdj12 li span,
.popupgdk12 li span,
.popupgdl12 li span, 
.popupgdm12 li span,
.popupgdn12 li span, 
.popupgdo12 li span,
.popupgdp12 li span {
  font-weight: normal;
}

.popupgda12 a,
.popupgdb12 a,
.popupgdc12 a,
.popupgdd12 a,
.popupgde12 a,
.popupgdf12 a,
.popupgdg12 a,
.popupgdh12 a, 
.popupgdi12 a,
.popupgdj12 a,
.popupgdk12 a,
.popupgdl12 a, 
.popupgdm12 a,
.popupgdn12 a, 
.popupgdo12 a,
.popupgdp12 a {
  color: #ff0000;
  text-decoration: none;
  text-transform: lowercase;
}


                  /* popup product  design */




.popuppda1, 
.popuppdb1,
.popuppdc1, 
.popuppdd1,
.popuppde1, 
.popuppdf1,
.popuppdg1, 
.popuppdh1,
.popuppdi1, 
.popuppdj1,
.popuppdk1, 
.popuppdl1,
.popuppdm1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.popuppda1.open, 
.popuppdb1.open,
.popuppdc1.open, 
.popuppdd1.open,
.popuppde1.open, 
.popuppdf1.open,
.popuppdg1.open, 
.popuppdh1.open,
.popuppdi1.open, 
.popuppdj1.open,
.popuppdk1.open, 
.popuppdl1.open,
.popuppdm1.open {
  opacity: 1;
  visibility: visible;
}

.popuppda2, 
.popuppdb2,
.popuppdc2, 
.popuppdd2,
.popuppde2, 
.popuppdf2,
.popuppdg2, 
.popuppdh2,
.popuppdi2, 
.popuppdj2,
.popuppdk2, 
.popuppdl2,
.popuppdm2 {
  background-color: #3A3B3C; 
  width: 1200px;
  border-radius: 8px;
  padding: 40px;
  position: relative;
}

.popuppda3, 
.popuppdb3,
.popuppdc3, 
.popuppdd3,
.popuppde3, 
.popuppdf3,
.popuppdg3, 
.popuppdh3,
.popuppdi3, 
.popuppdj3,
.popuppdk3, 
.popuppdl3,
.popuppdm3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.popuppda4, 
.popuppdb4,
.popuppdc4, 
.popuppdd4,
.popuppde4, 
.popuppdf4,
.popuppdg4, 
.popuppdh4,
.popuppdi4, 
.popuppdj4,
.popuppdk4, 
.popuppdl4,
.popuppdm4 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: #ff0000;
  cursor: pointer;
}

.popuppda4 svg, 
.popuppdb4 svg,
.popuppdc4 svg, 
.popuppdd4 svg,
.popuppde4 svg, 
.popuppdf4 svg,
.popuppdg4 svg, 
.popuppdh4 svg,
.popuppdi4 svg, 
.popuppdj4 svg,
.popuppdk4 svg, 
.popuppdl4 svg,
.popuppdm4 svg {
  width: 20px;
  height: 60px;
}

.popuppda8, 
.popuppdb8,
.popuppdc8, 
.popuppdd8,
.popuppde8, 
.popuppdf8,
.popuppdg8, 
.popuppdh8,
.popuppdi8, 
.popuppdj8,
.popuppdk8, 
.popuppdl8,
.popuppdm8 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.popuppda10, 
.popuppdb10,
.popuppdc10, 
.popuppdd10,
.popuppde10, 
.popuppdf10,
.popuppdg10, 
.popuppdh10,
.popuppdi10, 
.popuppdj10,
.popuppdk10, 
.popuppdl10,
.popuppdm10 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.popuppda12 li, 
.popuppdb12 li,
.popuppdc12 li, 
.popuppdd12 li,
.popuppde12 li, 
.popuppdf12 li,
.popuppdg12 li, 
.popuppdh12 li,
.popuppdi12 li, 
.popuppdj12 li,
.popuppdk12 li, 
.popuppdl12 li,
.popuppdm12 li {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  list-style: none;
}

.popuppda12 li:last-child, 
.popuppdb12 li:last-child,
.popuppdc12 li:last-child, 
.popuppdd12 li:last-child,
.popuppde12 li:last-child, 
.popuppdf12 li:last-child,
.popuppdg12 li:last-child, 
.popuppdh12 li:last-child,
.popuppdi12 li:last-child, 
.popuppdj12 li:last-child,
.popuppdk12 li:last-child, 
.popuppdl12 li:last-child,
.popuppdm12 li:last-child {
  margin-bottom: 0;
}

.popuppda12 li span, 
.popuppdb12 li span,
.popuppdc12 li span, 
.popuppdd12 li span,
.popuppde12 li span, 
.popuppdf12 li span,
.popuppdg12 li span, 
.popuppdh12 li span,
.popuppdi12 li span, 
.popuppdj12 li span,
.popuppdk12 li span, 
.popuppdl12 li span,
.popuppdm12 li span {
  font-weight: normal;
}

.popuppda12 a, 
.popuppdb12 a,
.popuppdc12 a, 
.popuppdd12 a,
.popuppde12 a, 
.popuppdf12 a,
.popuppdg12 a, 
.popuppdh12 a,
.popuppdi12 a, 
.popuppdj12 a,
.popuppdk12 a, 
.popuppdl12 a,
.popuppdm12 a {
  color: #ff0000;
  text-decoration: none;
  text-transform: lowercase;
}






@media screen and (max-width: 768px) {
    .md2 {
        flex-direction: column; /* Change flex direction to stack items vertically */
        margin: 10px; /* Adjust margin for smaller screens */
    }

    .md3 {
        font-size: 14px; /* Adjust font size for smaller screens */
        margin: 5px; /* Adjust margin for smaller screens */
    }

    .porp3 {
        flex-direction: column; /* Change flex direction to stack items vertically */
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .porp4 {
        flex-direction: column; /* Change flex direction to stack items vertically */
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .porp5 {
        text-align: center; /* Center align text for smaller screens */
    }

    .porp6000 {
        font-size: 12px; /* Adjust font size for smaller screens */
    }

    .porp6000 h3 {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }

    .porp6000 a {
        line-height: 40px; /* Adjust line height for smaller screens */
        width: 40px; /* Adjust width for smaller screens */
        height: 40px; /* Adjust height for smaller screens */
    }

    .porp6000 a svg {
        width: 30px; /* Adjust width for smaller screens */
        height: 40px; /* Adjust height for smaller screens */
    }
        






          /* ------------------popup All-------------------- */




.popup2,
.popupa2,
.popupaa2,
.popupab2,
.popupac2,
.popupad2,
.popupae2,
.popupaf2,
.popupag2,
.popupah2,
.popupai2,
.popupaj2,
.popupak2,
.popupal2,
.popupam2,
.popupan2,
.popupao2,
.popupap2,
.popupaq2,
.popupar2,
.popupas2 {
  max-width: 100%; 
  width: 90%; /* Adjusted width for smaller screens */
  padding: 20px; /* Reduced padding for smaller screens */
}



.popup3,
.popupa3,
.popupaa3,
.popupab3,
.popupac3,
.popupad3,
.popupae3,
.popupaf3,
.popupag3,
.popupah3,
.popupai3,
.popupaj3,
.popupak3,
.popupal3,
.popupam3,
.popupan3,
.popupao3,
.popupap3,
.popupaq3,
.popupar3,
.popupas3 {
  display: flex;
  flex-direction: column; /* Display in a single column on smaller screens */
  align-items: center; /* Center items on smaller screens */
}

.popup4,
.popupa4,
.popupaa4,
.popupab4,
.popupac4,
.popupad4,
.popupae4,
.popupaf4,
.popupag4,
.popupah4,
.popupai4,
.popupaj4,
.popupak4,
.popupal4,
.popupam4,
.popupan4,
.popupao4,
.popupap4,
.popupaq4,
.popupar4,
.popupas4  {
  top: 1rem; /* Adjusted top position for smaller screens */
  right: 1rem; /* Adjusted right position for smaller screens */
}




.popup5,
.popupa5,
.popupaa5,
.popupab5,
.popupac5,
.popupad5,
.popupae5,
.popupaf5,
.popupag5,
.popupah5,
.popupai5,
.popupaj5,
.popupak5,
.popupal5,
.popupam5,
.popupan5,
.popupao5,
.popupap5,
.popupaq5,
.popupar5,
.popupas5 {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 200px; /* Set a fixed height for the container */
} 

.popup6,
.popupa6,
.popupaa6,
.popupab6,
.popupac6,
.popupad6,
.popupae6,
.popupaf6,
.popupag6,
.popupah6,
.popupai6,
.popupaj6,
.popupak6,
.popupal6,
.popupam6,
.popupan6,
.popupao6,
.popupap6,
.popupaq6,
.popupar6,
.popupas6 {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  width: auto; /* Allow the image to adjust its auto */
  height: auto; /* Allow the image to adjust its height */
}



.popup8,
.popupa8,
.popupaa8,
.popupab8,
.popupac8,
.popupad8,
.popupae8,
.popupaf8,
.popupag8,
.popupah8,
.popupai8,
.popupaj8,
.popupak8,
.popupal8,
.popupam8,
.popupan8,
.popupao8,
.popupap8,
.popupaq8,
.popupar8,
.popupas8,
.popup11,
.popupa11,
.popupaa11,
.popupab11,
.popupac11,
.popupad11,
.popupae11,
.popupaf11,
.popupag11,
.popupah11,
.popupai11,
.popupaj11,
.popupak11,
.popupal11,
.popupam11,
.popupan11,
.popupao11,
.popupap11,
.popupaq11,
.popupar11,
.popupas11 {
  font-size: 11px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popup10,
.popupa10,
.popupaa10,
.popupab10,
.popupac10,
.popupad10,
.popupae10,
.popupaf10,
.popupag10,
.popupah10,
.popupai10,
.popupaj10,
.popupak10,
.popupal10,
.popupam10,
.popupan10,
.popupao10,
.popupap10,
.popupaq10,
.popupar10,
.popupas10 {
  font-size: 15px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popup12 li,
.popupa12 li,
.popupaa12 li,
.popupab12 li,
.popupac12 li,
.popupad12 li,
.popupae12 li,
.popupaf12 li,
.popupag12 li,
.popupah12 li,
.popupai12 li,
.popupaj12 li,
.popupak12 li,
.popupal12 li,
.popupam12 li,
.popupan12 li,
.popupao12 li,
.popupap12 li,
.popupaq12 li,
.popupar12 li,
.popupas12 li {
  font-size: 11px; /* Decreased font size for smaller screens */
}

.popup12 a,
.popupa12 a,
.popupaa12 a,
.popupab12 a,
.popupac12 a,
.popupad12 a,
.popupae12 a,
.popupaf12 a,
.popupag12 a,
.popupah12 a,
.popupai12 a,
.popupaj12 a,
.popupak12 a,
.popupal12 a,
.popupam12 a,
.popupan12 a,
.popupao12 a,
.popupap12 a,
.popupaq12 a,
.popupar12 a,
.popupas12 a {
  color: #ff0000;
  text-transform: lowercase; /* Corrected placement */
}
  
  
                     /* ------------------popup ui/ux-------------------- */
 
 
.popupuia2,
.popupuib2,
.popupuic2,
.popupuid2,
.popupuie2,
.popupuif2 {
  max-width: 100%; 
  width: 90%; /* Adjusted width for smaller screens */
  padding: 20px; /* Reduced padding for smaller screens */
}



.popupuia3,
.popupuib3,
.popupuic3,
.popupuid3,
.popupuie3,
.popupuif3 {
  display: flex;
  flex-direction: column; /* Display in a single column on smaller screens */
  align-items: center; /* Center items on smaller screens */
}

.popupuia4,
.popupuib4,
.popupuic4,
.popupuid4,
.popupuie4,
.popupuif4   {
  top: 1rem; /* Adjusted top position for smaller screens */
  right: 1rem; /* Adjusted right position for smaller screens */
}




.popupuia5,
.popupuib5,
.popupuic5,
.popupuid5,
.popupuie5,
.popupuif5  {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 200px; /* Set a fixed height for the container */
} 

.popupuia6,
.popupuib6,
.popupuic6,
.popupuid6,
.popupuie6,
.popupuif6 {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  width: auto; /* Allow the image to adjust its auto */
  height: auto; /* Allow the image to adjust its height */
}



.popupuia8,
.popupuib8,
.popupuic8,
.popupuid8,
.popupuie8,
.popupuif8,
.popupuia11,
.popupuib11,
.popupuic11,
.popupuid11,
.popupuie11,
.popupuif11 {
  font-size: 11px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popupuia10,
.popupuib10,
.popupuic10,
.popupuid10,
.popupuie10,
.popupuif10 {
  font-size: 15px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popupuia12 li,
.popupuib12 li,
.popupuic12 li,
.popupuid12 li,
.popupuie12 li,
.popupuif12 li {
  font-size: 11px; /* Decreased font size for smaller screens */
}

.popupuia12 a,
.popupuib12 a,
.popupuic12 a,
.popupuid12 a,
.popupuie12 a,
.popupuif12 a {
  color: #ff0000;
  text-transform: lowercase; /* Corrected placement */
}


                    /* ------------------popup graphics design -------------------- */




.popupgda2,
.popupgdb2,
.popupgdc2,
.popupgdd2,
.popupgde2,
.popupgdf2,
.popupgdg2,
.popupgdh2,
.popupgdi2,
.popupgdj2,
.popupgdk2,
.popupgdl2,
.popupgdm2,
.popupgdn2,
.popupgdo2,
.popupgdp2  {
  max-width: 100%; 
  width: 90%; /* Adjusted width for smaller screens */
  padding: 20px; /* Reduced padding for smaller screens */
}



.popupgda3,
.popupgdb3,
.popupgdc3,
.popupgdd3,
.popupgde3,
.popupgdf3,
.popupgdg3,
.popupgdh3,
.popupgdi3,
.popupgdj3,
.popupgdk3,
.popupgdl3,
.popupgdm3,
.popupgdn3,
.popupgdo3,
.popupgdp3 {
  display: flex;
  flex-direction: column; /* Display in a single column on smaller screens */
  align-items: center; /* Center items on smaller screens */
}

.popupgda4,
.popupgdb4,
.popupgdc4,
.popupgdd4,
.popupgde4,
.popupgdf4,
.popupgdg4,
.popupgdh4,
.popupgdi4,
.popupgdj4,
.popupgdk4,
.popupgdl4,
.popupgdm4,
.popupgdn4,
.popupgdo4,
.popupgdp4 {
  top: 1rem; /* Adjusted top position for smaller screens */
  right: 1rem; /* Adjusted right position for smaller screens */
}




.popupgda5,
.popupgdb5,
.popupgdc5,
.popupgdd5,
.popupgde5,
.popupgdf5,
.popupgdg5,
.popupgdh5,
.popupgdi5,
.popupgdj5,
.popupgdk5,
.popupgdl5,
.popupgdm5,
.popupgdn5,
.popupgdo5,
.popupgdp5 {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 200px; /* Set a fixed height for the container */
} 

.popupgda6,
.popupgdb6,
.popupgdc6,
.popupgdd6,
.popupgde6,
.popupgdf6,
.popupgdg6,
.popupgdh6,
.popupgdi6,
.popupgdj6,
.popupgdk6,
.popupgdl6,
.popupgdm6,
.popupgdn6,
.popupgdo6,
.popupgdp6 {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  width: auto; /* Allow the image to adjust its auto */
  height: auto; /* Allow the image to adjust its height */
}



.popupgda8,
.popupgdb8,
.popupgdc8,
.popupgdd8,
.popupgde8,
.popupgdf8,
.popupgdg8,
.popupgdh8,
.popupgdi8,
.popupgdj8,
.popupgdk8,
.popupgdl8,
.popupgdm8,
.popupgdn8,
.popupgdo8,
.popupgdp8,
.popupgda11,
.popupgdb11,
.popupgdc11,
.popupgdd11,
.popupgde11,
.popupgdf11,
.popupgdg11,
.popupgdh11,
.popupgdi11,
.popupgdj11,
.popupgdk11,
.popupgdl11,
.popupgdm11,
.popupgdn11,
.popupgdo11,
.popupgdp11 {
  font-size: 11px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popupgda10,
.popupgdb10,
.popupgdc10,
.popupgdd10,
.popupgde10,
.popupgdf10,
.popupgdg10,
.popupgdh10,
.popupgdi10,
.popupgdj10,
.popupgdk10,
.popupgdl10,
.popupgdm10,
.popupgdn10,
.popupgdo10,
.popupgdp10 {
  font-size: 15px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popupgda12 li,
.popupgdb12 li,
.popupgdc12 li,
.popupgdd12 li,
.popupgde12 li,
.popupgdf12 li,
.popupgdg12 li,
.popupgdh12 li,
.popupgdi12 li,
.popupgdj12 li,
.popupgdk12 li,
.popupgdl12 li,
.popupgdm12 li,
.popupgdn12 li,
.popupgdo12 li,
.popupgdp12 li {
  font-size: 11px; /* Decreased font size for smaller screens */
}

.popupgda12 a,
.popupgdb12 a,
.popupgdc12 a,
.popupgdd12 a,
.popupgde12 a,
.popupgdf12 a,
.popupgdg12 a,
.popupgdh12 a,
.popupgdi12 a,
.popupgdj12 a,
.popupgdk12 a,
.popupgdl12 a,
.popupgdm12 a,
.popupgdn12 a,
.popupgdo12 a,
.popupgdp12 a {
  color: #ff0000;
  text-transform: lowercase; /* Corrected placement */
}




                           /* popup product  design */


.popuppda2, 
.popuppdb2, 
.popuppdc2, 
.popuppdd2, 
.popuppde2, 
.popuppdf2,
.popuppdg2,
.popuppdh2,
.popuppdi2,
.popuppdj2, 
.popuppdk2, 
.popuppdl2, 
.popuppdm2 {
  max-width: 100%; 
  width: 90%; /* Adjusted width for smaller screens */
  padding: 20px; /* Reduced padding for smaller screens */
}

.popuppda3,
.popuppdb3,
.popuppdc3,
.popuppdd3,
.popuppde3,
.popuppdf3,
.popuppdg3,
.popuppdh3,
.popuppdi3,
.popuppdj3,
.popuppdk3,
.popuppdl3,
.popuppdm3 {
  display: flex;
  flex-direction: column; /* Display in a single column on smaller screens */
  align-items: center; /* Center items on smaller screens */
}

.popuppda4,
.popuppdb4,
.popuppdc4,
.popuppdd4,
.popuppde4,
.popuppdf4,
.popuppdg4,
.popuppdh4,
.popuppdi4,
.popuppdj4,
.popuppdk4,
.popuppdl4,
.popuppdm4 {
  top: 1rem; /* Adjusted top position for smaller screens */
  right: 1rem; /* Adjusted right position for smaller screens */
}

.popuppda5,
.popuppdb5,
.popuppdc5,
.popuppdd5,
.popuppde5,
.popuppdf5,
.popuppdg5,
.popuppdh5,
.popuppdi5,
.popuppdj5,
.popuppdk5,
.popuppdl5,
.popuppdm5 {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 200px; /* Set a fixed height for the container */
} 

.popuppda6,
.popuppdb6,
.popuppdc6,
.popuppdd6,
.popuppde6,
.popuppdf6,
.popuppdg6,
.popuppdh6,
.popuppdi6,
.popuppdj6,
.popuppdk6,
.popuppdl6,
.popuppdm6 {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  width: auto; /* Allow the image to adjust its auto */
  height: auto; /* Allow the image to adjust its height */
}

.popuppda8,
.popuppdb8,
.popuppdc8,
.popuppdd8,
.popuppde8,
.popuppdf8,
.popuppdg8,
.popuppdh8,
.popuppdi8,
.popuppdj8,
.popuppdk8,
.popuppdl8,
.popuppdm8,
.popuppda11,
.popuppdb11,
.popuppdc11,
.popuppdd11,
.popuppde11,
.popuppdf11,
.popuppdg11,
.popuppdh11,
.popuppdi11,
.popuppdj11,
.popuppdk11,
.popuppdl11,
.popuppdm11 {
  font-size: 11px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popuppda10,
.popuppdb10,
.popuppdc10,
.popuppdd10,
.popuppde10,
.popuppdf10,
.popuppdg10,
.popuppdh10,
.popuppdi10,
.popuppdj10,
.popuppdk10,
.popuppdl10,
.popuppdm10 {
  font-size: 15px; /* Decreased font size for smaller screens */
  text-align: center; /* Center text on smaller screens */
}

.popuppda12 li,
.popuppdb12 li,
.popuppdc12 li,
.popuppdd12 li,
.popuppde12 li,
.popuppdf12 li,
.popuppdg12 li,
.popuppdh12 li,
.popuppdi12 li,
.popuppdj12 li,
.popuppdk12 li,
.popuppdl12 li,
.popuppdm12 li {
  font-size: 11px; /* Decreased font size for smaller screens */
}

.popuppda12 a,
.popuppdb12 a,
.popuppdc12 a,
.popuppdd12 a,
.popuppde12 a,
.popuppdf12 a,
.popuppdg12 a,
.popuppdh12 a,
.popuppdi12 a,
.popuppdj12 a,
.popuppdk12 a,
.popuppdl12 a,
.popuppdm12 a {
  color: #ff0000;
  text-transform: lowercase; /* Corrected placement */
}


  
}
